@import url('../public/fonts/stylesheet.css');
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .title_main {
    font-size: 70px;
    line-height: 1.2;
  }
  .subtitle_main {
    font-size: 14px;
    line-height: 1.3;
  }
  .slick-active {
    width: 10px;
    height: 10px;
    border-radius: '50px';
    background-color: black;
  }
  .border_section {
    @apply border-t-2 border-b-2 border-zinc-300 w-full;
  }
  .background_scale {
    @apply absolute inset-0 bg-cover hover:scale-110 ease-in duration-200 flex justify-center items-center;
  }
  .link_kino {
    @apply flex w-1/4 items-center justify-center py-4 bg-white text-black ease-in duration-200 hover:bg-black hover:text-white;
  }

  @media (min-width: 640px) {
    .title_main {
      font-size: 7vw;
      line-height: 1.2;
    }
    .subtitle_main {
      font-size: 1.2vw;
      line-height: 1.4;
    }
  }
}

/* @layer base {
  html {
    font-family: 'Bebas Neue';
    font-weight: normal;
    src: local('BebasNeueRegular'),
      url(/fonts/BebasNeueRegular.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Bebas Neue';
    font-weight: 700;
    src: url(/fonts/proxima-nova/500-medium.woff) format("woff");
  }
} */

:root {
  font-family: 'Bebas Neue';
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
}

body {
  color: white;
  background-color: #1e191a;
}

a {
  color: inherit;
  text-decoration: none;
}

.yaMapMain {
  box-sizing: border-box;
  width: 100vw;
  height: 500px;
}

/*Page transition */
.navigation-loader {
  z-index: 49;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1e191a;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.preloader-4 {
  position: relative;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 2px;
  width: 100px;
  height: 100px;
  margin: 30px auto;
}
.preloader-4 > div {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
  transform: scale(0);
  transform-origin: center center;
  animation: preloader-4-anim 2s infinite linear;
}
.preloader-4 > div:nth-of-type(1),
.preloader-4 > div:nth-of-type(5),
.preloader-4 > div:nth-of-type(9) {
  animation-delay: 0.4s;
}
.preloader-4 > div:nth-of-type(4),
.preloader-4 > div:nth-of-type(8) {
  animation-delay: 0.2s;
}
.preloader-4 > div:nth-of-type(2),
.preloader-4 > div:nth-of-type(6) {
  animation-delay: 0.6s;
}
.preloader-4 > div:nth-of-type(3) {
  animation-delay: 0.8s;
}
@keyframes preloader-4-anim {
  0% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@media (min-width: 768px) {
  .yaMapMain {
    box-sizing: border-box;
    width: 55vw;
    height: 500px;
  }
}
